:root{
    /* --bluen1: #0066FF;
	--bluen2: #0049B6;
	--bluen3: #003688;
	--bluen4: #002967;
	--bluen5: #000A18;
	--redn1: #CD0000;
	--redn2: #B00000;
	--redn3: #7C0000;
	--redn4: #5D0000;
	--redn5: #350000;
	--greenn1: #00cd37;
	--greenn2: #00af2f;
	--greenn3: #008c26;
	--greenn4: #006d1e;
	--greenn5: #004a14;
	--yellown1: #c6cd00;
	--yellown2: #b1b700;
	--yellown3: #939800;
	--yellown4: #777b01;
    --yellown5: #5f6300; */

    --bgc-background: #303030;
    --ie-bgc-background : var(--bgc-background);
    --bgc-background-img: #3e3e3e;
    --bgc-border: #515151;
    --bgc-text-o: #989898;
    --bgc-text: #f5f5f5;

    --bgc-white: white;
    --bgc-black: black;
    --bgc-grey: grey;
    --bgc-lightgrey: lightgrey;

    --input-error: #ff5656;

    --bgc-background-rgb: 48, 48, 48;
    --bgc-text-rgb: 245, 245, 245;

    --ff-heder: "Lato", sans-serif;
    --ff-text-n: "Roboto", sans-serif;
    --ff-text-sb: "Roboto semibold", sans-serif;
    /* --ff-text-n: "Open Sans", sans-serif;
    --ff-text-sb: "Open Sans semibold", sans-serif; */

    --fz-h1: 3.7rem;
    --fz-h2: 3.2rem;
    --fz-h3: 2.2rem;
    --fz-h4: 2.0rem;
    --fz-h5: 1.8rem;
    --fz-text: 1.6rem;
    --fz-text-s: 1.4rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    hyphens: manual;
}

html{ font-size: 1.13vmin; } /* 1.18vmin */

html, body{
    width: 100%;
    height: 100vh;
    background-color: var(--bgc-background, #303030);
    overflow: hidden;
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

h1{ font-size: var(--fz-h1); }
h2{ font-size: var(--fz-h2); }
h3{ font-size: var(--fz-h3); }
h4{ font-size: var(--fz-h4); }
h5{ font-size: var(--fz-h5); }
h6{ font-size: var(--fz-h6); }

h1, h2, h3, h4, h5, h6{
    font-family: var(--ff-heder);
    font-weight: bold;
    color: var(--bgc-text)
}

p{
    font-family: var(--ff-text-n);
    font-size: var(--fz-text);
    color: var(--bgc-text);
    line-height: 2.4rem;
}

b{ font-family: var(--ff-text-sb); }

.texto-parentesis{ color: var(--bgc-text); }

input, input:focus, textarea{
    border: none;
    outline: none;
}

ul{ list-style: none; }


/*.img-yo img{ mix-blend-mode: initial!important; }*/


#CONTENEDOR-GENERAL{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 2s;
}






/*----------------------------------------------------------
	CONTENIDO ADICIONAL
------------------------------------------------------------*/


/* -- MODO CINE --*/
.modo-cine{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

.modo-cine__barra-negra{
    display: inline-block;
    width: 100%;
    height: 8.5rem;
    background-color: var(--bgc-black);
    position: absolute;
    transition: 0.6s;
}

.barra-negra--top{
    top: 0;
    transform: translateY(-8.5rem);
}

.barra-negra--bot{
    bottom: 0;
    transform: translateY(8.5rem);
}

.modo-cine--activo .barra-negra--top,
.modo-cine--activo .barra-negra--bot{
    transform: translateY(0);
}


/* -- MODO MUSICA --*/

.ARTI-about__presentacion.modo-musica--activo .ARTI-about__yo-foto-faces{
    transform: rotateY(180deg);    
}
.ARTI-about__yo-foto-faces{
    width: 23rem;
    height: 23rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: 0.6s;
    
}
.ARTI-about__yo-foto-faces .foto-faces{
    width: 23rem;
    height: 23rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: var(--bgc-text);
}
.ARTI-about__yo-foto-faces .faceA{
    overflow: hidden;
    border-radius: 50%;
}
.ARTI-about__yo-foto-faces .faceB{
    transform: rotateY(180deg);
}

.ARTI-about__yo-nombre{
    transform-style: preserve-3d;
    perspective: 500px;    
}
.ARTI-about__yo-nombre .yo-nombre, .ARTI-about__yo-nombre .yo-trabajo{
    transition: 0.25s;
}
.ARTI-about__yo-nombre.reproductorActivo .yo-nombre, .ARTI-about__yo-nombre.reproductorActivo .yo-trabajo{
    transform: rotateX(90deg);
    animation: opaci .25s linear forwards;
    
}
@keyframes opaci{
    50%{ opacity: 1;}
    100%{ opacity: 0;}
}

.ARTI-about__rrss #line-reproductor{
    content: '';
    display: inline-block;
    width: 0%;
    height: 1.5px;
    background-color: var(--bgc-text);
    position: absolute;
    top: -2px;
    left: 0;
    transition: 0.2s;
    opacity: 0;
}

#line-reproductor::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--bgc-text);
    position: absolute;
    top: -4px;
    right: -4px;
    transform-origin: -50% -50%;
    border-radius: 50%;
}

.ARTI-about__rrss{
    position: relative;
}

.ARTI-about__rrss.modo-musica--activo #line-reproductor{
    opacity: 1;
}

.ARTI-about__rrss.modo-musica--activo .ARTI-about__rrss-faces{
    transform: rotateY( 180deg);
}

.ARTI-about__rrss-faces{
    width: 4.4rem;
    height: 4.4rem;
    position: relative;
    margin: 0 1rem;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: 0.6s;    
}
.rrss-faces{
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.ARTI-about__rrss-faces .faceA a{
    margin: 0;
}
.ARTI-about__rrss-faces .faceB{
    border: 1.5px solid var(--bgc-border);
    border-radius: 50%;
    transform: rotateX(180deg);
    transition: border 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ARTI-about__rrss-faces .faceB > svg{
    width: 70%;
    height: 70%;
    fill: var(--bgc-text);
}

.ARTI-about__rrss-faces .faceB:hover{
    border: 1.5px solid var(--bgc-text);
}


/*----------------------------------------------------------
	MENU
------------------------------------------------------------*/


#MENU-principal{
    margin: 0 auto;
    width: 90%;
    max-width: 126.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*background-color: var(--bluen1);*/
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

#MENU-principal.MENU-principal--centrado{ align-items: center; }

#MENU-principal.MENU-principal--open{ pointer-events: initial; }


/* -- ICONO MENU -- */

.MENU-principal__CONT-icono-menu{
    width: 100%;
    height: 3rem;
    margin-bottom: 2.4rem;
    position: relative;
}

.MENU-principal__icono-menu{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.6s;
    pointer-events: initial;
}

.MENU-principal__icono-menu.MENU-imagen-zoom--open,
.MENU-principal__CONT-icono-scroll.MENU-imagen-zoom--open{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.MENU-principal__icono-menu:hover{ opacity: 0.5; }

.MENU-principal--centrado .MENU-principal__icono-menu{ left: 50%; }

.icono-menu__linea{
    display: block;
    width: 3rem;
    height: 0.1px;
    border-top: 1.5px solid var(--bgc-text);
    transition: 0.6s;
    position: absolute;
    left: 0;
}

.icono-menu__linea:nth-child(1){ top: 0; }

.icono-menu__linea:nth-child(2){
    top: 50%;
    transform: translate(0, -50%);
}

.icono-menu__linea:nth-child(3){ bottom: 0; }

.MENU-principal--open .MENU-principal__icono-menu .icono-menu__linea:nth-child(1),
.MENU-principal--work .MENU-principal__icono-menu .icono-menu__linea:nth-child(1){
    width: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.MENU-principal--open .MENU-principal__icono-menu .icono-menu__linea:nth-child(2),
.MENU-principal--work .MENU-principal__icono-menu .icono-menu__linea:nth-child(2){ opacity: 0; }

.MENU-principal--open .MENU-principal__icono-menu .icono-menu__linea:nth-child(3),
.MENU-principal--work .MENU-principal__icono-menu .icono-menu__linea:nth-child(3){
    width: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* -- CONTENEDOR MENU -- */

.MENU-principal__CONT-opciones-menu{
    width: 0%;
    height: 54.9rem;
    border-left: 0.75px solid var(--bgc-text);
    border-right: 0.75px solid var(--bgc-text);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.6s, background-color 0s;
    /*background-color: var(--bluen2);*/
    background-color: var(--bgc-background, #303030);
    position: relative;
}

.MENU-principal--open .MENU-principal__CONT-opciones-menu{
    width: 100%;
    border-left: 1.6px solid var(--bgc-text);
    border-right: 1.6px solid var(--bgc-text);
}

.MENU-principal--about .MENU-principal__CONT-opciones-menu{ border: none; }

.MENU-principal__opciones-menu{
    list-style: none;
    font-family: var(--ff-text-sb);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--bgc-text);
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.opcion-inicio,
.opcion-about,
.opcion-works,
.opcion-contact{
    text-decoration: none;
    margin: 20px 0;
    opacity: 1;
    color: var(--bgc-text-o);
    cursor: pointer;
    transition: 0.2s;
    pointer-events: initial;
}

.opcion-inicio
{ margin-top: 0; }

.opcion-inicio:hover,
.opcion-about:hover,
.opcion-works:hover,
.opcion-contact:hover{ opacity: 0.5; }

.opcion--seleccionada{
    color: var(--bgc-text);
    pointer-events: none;
}

/* -- ICONO MENU language -- */

.MENU-principal__CONT-icono-language{
  width: 100%;
  height: 3rem;
  margin-top: 1.6rem;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transition: 0.6s;
}

.MENU-principal--inicio .MENU-principal__CONT-icono-language{ 
  opacity: 1;
  pointer-events: initial;
}

.MENU-principal--open .MENU-principal__CONT-icono-language{ opacity: 0; }

.MENU-principal__icono-language{
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  transition: left 0.6s;
  color: var(--bgc-white);
  font-family: var(--ff-text-n);
  font-size: var(--fz-text-s);
  text-align: center;
}

/* .MENU-principal--centrado .MENU-principal__icono-language{ left: 50%; } */

.MENU-principal__icono-language .icono-language{
  display: inline-block;
  width: 2.6rem;
  cursor: pointer;
  pointer-events: inherit;
  /* height: 2.6rem; */
}

.icono-language.selected-icono-language{
  font-family: var(--ff-text-sb);
  pointer-events: none;
  color: var(--bgc-text-o)
}


/* -- ICONO MENU SCROLL -- */

.MENU-principal__CONT-icono-scroll{
    width: 100%;
    height: 3rem;
    margin-top: 1.6rem;
    position: relative;
    transition: 0.6s;
}

.MENU-principal--open .MENU-principal__CONT-icono-scroll,
.MENU-principal--inicio .MENU-principal__CONT-icono-scroll{ opacity: 0; }

.MENU-principal__icono-scroll{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 0.6s;
}

.MENU-principal--centrado .MENU-principal__icono-scroll{ left: 50%; }

.MENU-principal__icono-scroll .icono-scroll__flecha{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    border-right: 1.5px solid var(--bgc-text);
    border-bottom: 1.5px solid var(--bgc-text);
    transform: translate(-50%, 0) rotate(45deg);
    animation: btn_scroll 1s ease-in-out infinite alternate;
}

#CONTENEDOR-PAGINAS{
    width: 90%;
    max-width: 126.8rem;
    position: absolute;
}




/*----------------------------------------------------------
	SECCIONES
------------------------------------------------------------*/


/* ============================== INICIO ============================== */

#ARTI-inicio, #ARTI-about, #ARTI-works, #ARTI-contact
{ /*background-color: var(--redn1);*/ }

section.ARTI-inicio__CONT-presentacion,
section.ARTI-about__CONT-presentacion,
section.ARTI-about__CONT-caracteristicas,
section.ARTI-works__CONT-galeria-proyectos,
section.ARTI-works__CONT-proyecto-detalles,
section.ARTI-contact__CONT-presentacion,
section.ARTI-contact__CONT-formulario{
    width: 100%;
    height: 54.9rem;
    margin-top: 5.4rem;
    margin-bottom: 4.6rem;
    /*background-color: var(--redn2);*/
}

.ARTI-inicio__presentacion,
.ARTI-about__presentacion,
.ARTI-contact__presentacion{
    width: 100%;
    height: 100%;
}

.ARTI-inicio__CONT-datos-presentacion,
.ARTI-about__CONT-datos-presentacion,
.ARTI-contact__CONT-datos-presentacion
{ }

.ARTI-inicio__datos-CONT-yo,
.ARTI-about__datos-CONT-yo,
.ARTI-contact__datos-CONT-yo{
    width: 100%;
    height: 41.2rem;
    padding: 3.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background-color: var(--redn3);*/
}

.ARTI-inicio__CONT-yo, .ARTI-about__CONT-yo, .ARTI-contact__CONT-yo
{ }

.ARTI-inicio__yo-foto,
.ARTI-contact__yo-foto{
    width: 23rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /*margin-bottom: 44px;*/
    border-radius: 50%;
    flex-basis: 23rem;
    overflow: hidden;
}

.yo-foto{
    width: 100%;
    height: 100%;
    /*animation: vinilo 2s linear infinite;*/
}

.ARTI-inicio__yo-nombre,
.ARTI-about__yo-nombre,
.ARTI-contact__yo-nombre{
    width: 100%;
    text-align: center;
    color: var(--bgc-text);
    font-family: var(--ff-heder);
    /*background-color: var(--redn4);*/
}

.yo-nombre{ margin-bottom: 3px; }

.yo-trabajo{ font-weight: normal; }

.ARTI-inicio__datos-CONT-rrss,
.ARTI-about__datos-CONT-rrss,
.ARTI-contact__datos-CONT-rrss{
    width: 100%;
    height: 13.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--redn4);*/
}

.ARTI-inicio__rrss,
.ARTI-about__rrss,
.ARTI-contact__rrss{
    padding: 0 2rem;
    padding-top: 3.1rem;
    border-top: 1.5px solid var(--bgc-border);
    display: flex;
    justify-content: center;
    /*background-color: var(--redn5);*/
}

.rrss-linkedin,
.rrss-behance,
.rrss-codepen,
.rrss-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border: 1.5px solid var(--bgc-border);
    border-radius: 50%;
    margin: 0 1rem;
    transition: border 0.2s;
}

.rrss-linkedin > svg,
.rrss-behance > svg,
.rrss-codepen > svg,
.rrss-cv > svg{
    width: 70%;
    height: 70%;
}

.rrss-linkedin > svg path,
.rrss-behance > svg path,
.rrss-codepen > svg path,
.rrss-cv > svg path{ fill: var(--bgc-text); }

.rrss-linkedin:hover{ border: 1.5px solid #0073B1; }
.rrss-behance:hover{ border: 1.5px solid #0057ff; }
.rrss-codepen:hover{ border: 1.5px solid #d3d3d3; }
.rrss-cv:hover{ border: 1.5px solid #25d366; }



/* ============================== ABOUT ============================== */

#ARTI-about{ display: flex; }

section.ARTI-about__CONT-presentacion{ width: calc(50% - 1px); }

section.ARTI-about__CONT-caracteristicas{
    width: calc(50% - 1px);
    position: relative;
}

.ARTI-about__CONT-caracteristicas:before,
.ARTI-about__CONT-caracteristicas::after{
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    width: calc(100% - 2px);
    height: 3.4rem;
    z-index: 1;
}

.ARTI-about__CONT-caracteristicas:before{
    bottom: -0.1rem;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--bgc-background, #303030) 100%);
}

.ARTI-about__CONT-caracteristicas::after{
    top: -0.1rem;
    background: linear-gradient(to bottom, var(--bgc-background, #303030) 0%, rgba(255,255,255,0) 100%);
}

.ARTI-about__caracteristicas{
    width: 100%;
    height: 54.9rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    transform: rotateY(180deg);
}

.ARTI-about__CONT-datos-caracteristicas{
    width: 85%;
    max-width: 41.2rem;
    /* height: 100%; */
    padding-top: 24px;
    transform: rotateY(180deg);
    color: var(--colortx);
    font-family: var(--typen3), sans-serif;
}

.ARTI-about__yo-descripcion,
.ARTI-about__yo-estudios,
.ARTI-about__yo-hobbies{
    width: 100%;
    margin-bottom: 46px;
    line-height: 2.4rem;
}

.descripcion-titulo,
.estudios-titulo,
.hobbies-titulo{ margin-bottom: 10px; }

.descripcion-texto, .estudios-texto
{}

.hobbies__CONT-hobbies{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px 0;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

.hobbies__CONT-hobbies > div{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hobbies__CONT-hobbies > div > div{
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hobbies__CONT-hobbies > div > div svg{ fill: var(--bgc-text); }

.texto--parentesis{ opacity: 0.5; }

.space-box{
    display: block;
    width: 100%;
    height: 1.5rem;
}

.hobbie__icono-puzles,
.hobbie__icono-disenyo,
.hobbie__icono-musica,
.hobbie__icono-cine,
.hobbie__icono-chocolate{
    cursor: pointer;
}

.hobbie__icono-puzles{
    animation: puzle 5s linear infinite;
}
@keyframes puzle {
    0% { transform: rotate(0deg); }
    1% { transform: rotate(8deg); }
    2% { transform: rotate(0eg); }
    3% { transform: rotate(-8deg); }
    4% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.hobbie__icono-disenyo:hover svg{ animation: coloresbonicos 3s linear infinite; }

@keyframes coloresbonicos{
	0%{ fill: #f5f5f5; }
	12.5%{ fill: #303030; }
	25%{ fill: #FEF102; }
	37.5%{ fill: #ff6438; }
	50%{ fill: #7332C0; }
	62.5%{ fill: #003399; }
	75%{ fill: #212366; }
	87.5%{ fill: #4224F4; }
	100%{ fill: #f5f5f5; }
}



/* ============================== WORKS ============================== */

#ARTI-works{
    position: relative;
    display: flex;
}

.CONT-proyecto-imagen--selecionada-zoom,
.CONT-proyecto-imagen--selecionada-zoom div{
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.CONT-proyecto-imagen--selecionada-zoom{
    width: 90%;
    max-width: 126.8rem;
    height: 64.9rem;
    background-color: var(--bgc-text);
    position: absolute;
    transition: .4s;
    z-index: 9;
}

.CONT-proyecto-imagen--selecionada-zoom div
{
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    pointer-events: none;
}

.CONT-proyecto-imagen--selecionada-zoom.imagen-zoom--open,
.CONT-proyecto-imagen--selecionada-zoom.imagen-zoom--open div{
    opacity: 1;
    visibility: initial;
}

#ARTI-works > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
    position: relative;
    display: flex;
}

section.ARTI-works__CONT-galeria-proyectos{
    overflow-y: auto;
    overflow-x: hidden;
    /*position: relative;*/
    z-index: 5;
    background-color: var(--bgc-background, #303030);
    transition: 0.6s;
}

#ARTI-works .CONT-galeria-proyectos--open{ width: calc(50% - 1px); }

#ARTI-works .CONT-galeria-proyectos--centrado{ overflow: hidden; }

.ARTI-works__galeria-proyectos{
    /*width: calc(100% - 21rem);
    max-width: calc(100% - 21rem);*/
    width: 85%;
    max-width: 150rem;
    margin: 0 auto;
    height: 54.9rem;
    position: relative;
    transition: 0.6s;
}

.CONT-galeria-proyectos--open .ARTI-works__galeria-proyectos{
    /*width: 85%;*/
    max-width: 41.2rem;
    /*transform: translate(0px, -30px);*/
}

.CONT-proyecto-imagen--selecionada{
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    display: inline-block;
    /* pointer-events: none; */
}

.proyecto-imagen--selecionada{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 8;
    transition: 0.6s;
    pointer-events: initial;
    /*opacity: 0;*/
}

.CONT-proyecto-imagenes{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(1.6rem, 1fr));
    grid-template-rows: repeat(4, minmax(1.6rem, 1fr));
    grid-auto-rows: minmax(1.6rem, 1fr);
    grid-gap: 0.4rem;
}
.proyecto-imagenes{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
/*.proyecto-imagenes:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}*/


/*--1 imagenes--*/
.CONT-proyecto-imagenes--1 .proyecto-imagenes:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/5;
}
/*--2 imagenes--*/
.CONT-proyecto-imagenes--2 .proyecto-imagenes:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/3;
}
.CONT-proyecto-imagenes--2 .proyecto-imagenes:nth-child(2){
    grid-column: 1/4;
    grid-row: 3/5;
}
/*--4 imagenes--*/
.CONT-proyecto-imagenes--4 .proyecto-imagenes:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/3;
}
.CONT-proyecto-imagenes--4 .proyecto-imagenes:nth-child(2){
    grid-column: 1/3;
    grid-row: 3/5;
}
/*--6 imagenes--*/
.CONT-proyecto-imagenes--6 .proyecto-imagenes:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
.CONT-proyecto-imagenes--6 .proyecto-imagenes:nth-child(6){
    grid-column: 2/4;
    grid-row: 3/5;
}
/*--7 imagenes--*/
.CONT-proyecto-imagenes--7 .proyecto-imagenes:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/3;
}
/*--9 imagenes--*/
.CONT-proyecto-imagenes--8 .proyecto-imagenes:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}

.ARTI-works__MENU-galeria-proyectos{
    width: 100%;
    height: 0;
    padding-bottom: 3.2rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 9;
    background-color: var(--bgc-background, #303030);
    transition: 0.6s;
    overflow: hidden;
}

.ARTI-works__MENU-galeria-proyectos > ul{ transition: 0.6s; }

.CONT-galeria-proyectos--open .ARTI-works__MENU-galeria-proyectos
{ /*display: none;*/ }

.MENU-galeria-proyectos{
    display: inline-block;
    margin: 0 auto;
}

.MENU-galeria__proyectos-opcion{
    display: inline-block;
    width: 8rem;
    font-size: 1.6rem;
    font-family: var(--ff-text-sb);
    text-align: center;
    color: var(--bgc-text-o);
    cursor: pointer;
    transition: 0.2s;
}

.proyectos-opcion--seleccionada{
    color: var(--bgc-text);
    pointer-events: none;
}

.MENU-galeria__proyectos-opcion:hover{ opacity: 0.5; }

.ARTI-works__CONT-proyecto-imagen{
    display: grid;
    grid-template-columns: repeat(5, minmax(1.6rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1.6rem, 1fr));
    grid-auto-rows: minmax(1.6rem, 1fr);
    grid-gap: 0.2rem;
    transition: 0.6s;
}

.CONT-proyecto-imagen{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    background-color: var(--bgc-background-img, #3e3e3e);
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
    position: relative;
    /*overflow: hidden;*/
}

/*.CONT-proyecto-imagen:hover
{
    opacity: 0.1;
}*/

.proyecto-nombre{
    position: absolute;
    z-index: 8;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: var(--bgc-text);
    font-family: var(--ff-text-sb);
    transition: 0.2s;
    background: rgba(var(--bgc-background-rgb), 0);
}

.proyecto-nombre > h5{
    font-weight: 700;
    transform: translate(0, 10px);
    opacity: 0;
    transition: 0.2s;
    width: 80%;
    margin: 0 auto;
}

/*.CONT-proyecto-imagen:hover .proyecto-nombre{
    background: rgba(var(--bgc-background-rgb), 0.95);
}*/

.CONT-proyecto-imagen:hover .proyecto-nombre > h5{
    transform: translate(0, 0px);
    opacity: 1;
}

.CONT-proyecto-imagen:hover .proyecto-imagen{ opacity: 0; }

.CONT-proyecto-imagen:hover .proyecto-imagen-color{ opacity: 0.3; }

.proyecto-imagen, .proyecto-imagen-color{
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    opacity: 0.2;
}

.proyecto-imagen-color{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

section.ARTI-works__CONT-proyecto-detalles{
    /* width: calc(50% - 1px); */
    width: 50%;
    position: absolute;
    right: 0;
    /* overflow: hidden; */
}

.ARTI-works__CONT-proyecto-detalles:before,
.ARTI-works__CONT-proyecto-detalles::after{
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    width: calc(100% - 2px);
    height: 3.4rem;
    z-index: 1;
}

.ARTI-works__CONT-proyecto-detalles:before{
    bottom: 0rem;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--bgc-background, #303030) 100%);
}

.ARTI-works__CONT-proyecto-detalles::after{
    top: 0rem;
    background: linear-gradient(to bottom, var(--bgc-background, #303030) 0%, rgba(255,255,255,0) 100%);
}

.ARTI-works__proyecto-detalles{
    width: 100%;
    height: 54.9rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    transform: rotateY(180deg);
}

.ARTI-works__CONT-datos-proyecto{
    width: 85%;
    max-width: 41.2rem;
    /* height: 100%; */
    min-height: 55.1rem;
    padding-top: 24px;
    transform: rotateY(180deg);
    color: var(--colortx);
    font-family: var(--typen3), sans-serif;
}

.ARTI-works__proyecto-descripcion,
.ARTI-works__proyecto-programas{
    width: 100%;
    margin-bottom: 46px;
    line-height: 2.4rem;
}
.descripcion-titulo{
    display: inline-flex;
}
.descripcion-titulo a{
    width: 2rem;
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
}
.ARTI-works__proyecto-link svg{
    width: 100%;
    height: 100%;
    fill: var(--bgc-text);
}

.programas__CONT-programas{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-rows: 1fr;*/
    grid-gap: 25px 0;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

.programas__CONT-programas > div{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.programas__CONT-programas > div > div{
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.programas__CONT-programas > div > div svg{
    fill: var(--bgc-text);
    width: 100%;
    height: 100%;
}


/* -- Slider -- */

/* Center the slideshow */
.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.6s;
    position: relative;
    z-index: 7;
    pointer-events: initial;
}

#slides{
    position: relative;
    overflow: initial!important;
}

#slides,
.slidesjs-container,
.slidesjs-control,
#slides .slidesjs-container .slidesjs-control .slide-img{
    width: 100%!important;
    height: 100%!important;
}

.slidesjs-control{
    pointer-events: initial!important;
}

.slide-img{
    background-position: center;
    background-size: cover;
    background-color: var(--bgc-text);
    cursor: pointer;
    transition: transform 0.2s;
}

/* .slide-img:hover{
    transform: scale(1.05);
} */

.slidesjs-navigation{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    transition: 0.6s;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 0;
    pointer-events: initial;
    padding: 0.5rem;
    box-sizing: content-box;
    opacity: 0; 
}

.slidesjs-previous{
    left: 0;
    transform: translate(6rem, -50%);/*2*/       
}

.slidesjs-next{
    right: 0;
    transform: translate(-6rem, -50%);/*-2*/
}

.imagen-zoom--open .slidesjs-previous{
    animation: playArrowPrevious .4s linear forwards;
}

@keyframes playArrowPrevious {
    100%{
        transform: translate(-8rem, -50%);
        opacity: 1;
    }
}

.imagen-zoom--open .slidesjs-next{
    animation: playArrowNext .4s linear forwards;
}

@keyframes playArrowNext {
    100%{
        transform: translate(8rem, -50%);
        opacity: 1;
    }
}

/* .container.slides-activo .slidesjs-previous
{ transform: translate(-6rem, -50%); }

.container.slides-activo .slidesjs-next
{ transform: translate(2rem, -50%); } */

.slider-menu__icono-previous,
.slider-menu__icono-next{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-menu__icono-previous .icono-scroll__flecha,
.slider-menu__icono-next .icono-scroll__flecha{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    border-right: 1.5px solid var(--bgc-text);
    border-bottom: 1.5px solid var(--bgc-text);
    transition: 0.2s;
}

.slider-menu__icono-previous .icono-scroll__flecha{ transform: translate(5px, 0) rotate(135deg); }

.slidesjs-previous:hover .icono-scroll__flecha,
.slidesjs-next:hover .icono-scroll__flecha{
    border-right: 1.5px solid var(--bgc-border);
    border-bottom: 1.5px solid var(--bgc-border);
}

.slider-menu__icono-next .icono-scroll__flecha{ transform: translate(-5px, 0) rotate(-45deg); }


/* Show active item in the pagination */
.slidesjs-pagination .active{ color:red; }

.slidesjs-pagination{ display: none; }

.simplebar-wrapper,
.simplebar-mask,
.simplebar-content-wrapper{ /* overflow: initial!important; */ background: transparent;}

/* Media quires for a responsive layout */

/* For tablets & smart phones */
@media (max-width: 767px) {
    .container {
        width: auto;
    }
}

/* For smartphones */
@media (max-width: 480px) {
    .container {
        width: auto;
    }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 100%;
    }
}

/* For larger displays */
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}



/* ============================== CONTACT ============================== */

#ARTI-contact{ display: flex; }

section.ARTI-contact__CONT-presentacion{ width: calc(50% - 1px); }

section.ARTI-contact__CONT-formulario{
    width: calc(50% - 1px);
    position: relative;
}

.ARTI-contact__formulario{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ARTI-contact__formulario-inputs{
    width: 30rem;
    margin: 0 auto;
}

.formulario-nombre,
.formulario-correo,
.formulario-asunto,
.formulario-mensaje{
    display: inline-block;
    width: 30rem;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    background-color: var(--bgc-background, #303030);
    border-bottom: 1.5px solid var(--bgc-border);
    font-family: var(--ff-text-n);
    font-size: var(--fz-text);
    color: var(--bgc-text);
    transition: 0.2s;
}

.formulario-mensaje{
    min-height: 5rem;
    max-height: 16.6rem;
    /*height: 9.8rem;*/
    height: 14rem;
    resize: none;
}

.formulario-nombre:focus,
.formulario-correo:focus,
.formulario-asunto:focus,
.formulario-mensaje:focus{ border-bottom: 1.5px solid var(--bgc-text); }

.formulario-enviar{
    display: inline-block;
    width: 30rem;
    padding: 1.5rem 0;
    background-color: var(--bgc-border);
    color: var(--bgc-text);
    font-family: var(--ff-text-n);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: var(--fz-text);
    cursor: pointer;
    transition: 0.2s;
}

.formulario-enviar:hover,
.formulario-enviar--activado:hover{ opacity: 0.7; }

.formulario-enviar--activado{
    background-color: var(--bgc-text);
    color: var(--bgc-background, #303030);
}

.ARTI-contact__formulario-inputs .input--error{    
    border-bottom: 1.5px solid var(--input-error);
}

.ARTI-contact__formulario-inputs .input--error.formulario-nombre::placeholder,
.ARTI-contact__formulario-inputs .input--error.formulario-correo::placeholder,
.ARTI-contact__formulario-inputs .input--error.formulario-asunto::placeholder, 
.ARTI-contact__formulario-inputs .input--error.formulario-mensaje::placeholder{
    color: var(--input-error);
}




/*----------------------------------------------------------
	SCROLL PERFIL DERECHO
------------------------------------------------------------*/

.ARTI-works__CONT-proyecto-detalles .simplebar-content,
.ARTI-about__CONT-caracteristicas .simplebar-content{
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.ARTI-works__CONT-galeria-proyectos.simplebar-content{ position: relative; }

/* .ARTI-works__proyecto-detalles .simplebar-track.simplebar-vertical{
    visibility: visible!important;
}

.ARTI-works__proyecto-detalles .simplebar-track.simplebar-vertical .simplebar-scrollbar{
    height: 100%!important;
    display: initial!important;
} */

.simplebar-track.simplebar-vertical{
    width: 1.5px!important;    
    background-color: var(--bgc-border);
}

.simplebar-scrollbar:before{
    opacity: 1!important;
    left: 0px!important;
    right: 0px!important;
    border-radius: 0!important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    top: 0px!important;
    bottom: 0px!important;
    background-color: var(--bgc-text);
}


/* .ARTI-about__caracteristicas::-webkit-scrollbar-track{ background-color: var(--bgc-border);}
.ARTI-about__caracteristicas::-webkit-scrollbar{ width: 2px;}
.ARTI-about__caracteristicas::-webkit-scrollbar-thumb{ background-color: var(--bgc-text);}

.ARTI-works__CONT-galeria-proyectos::-webkit-scrollbar-track{ background-color: var(--bgc-border);}
.ARTI-works__CONT-galeria-proyectos::-webkit-scrollbar{ width: 2px;}
.ARTI-works__CONT-galeria-proyectos::-webkit-scrollbar-thumb{ background-color: var(--bgc-text);}

.ARTI-works__proyecto-detalles::-webkit-scrollbar-track{ background-color: var(--bgc-border);}
.ARTI-works__proyecto-detalles::-webkit-scrollbar{ width: 2px;}
.ARTI-works__proyecto-detalles::-webkit-scrollbar-thumb{ background-color: var(--bgc-text);}

.formulario-mensaje::-webkit-scrollbar-track{ opacity: 0;}
.formulario-mensaje::-webkit-scrollbar{ width: 0.1px; opacity: 0;}
.formulario-mensaje::-webkit-scrollbar-thumb{ opacity: 0;} */




/*----------------------------------------------------------
	ANIMACIONES
------------------------------------------------------------*/

@keyframes btn_scroll{
    0% { opacity: 1; }
    100% { opacity: 0.2; }
}

@keyframes vinilo{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/*----------------------------------------------------------
	MEDIA QUERIES
------------------------------------------------------------*/


/*================= MEDIA QUERY (LARGE PC) =================*/

@media screen and (min-width: 1024px){

	html{
		font-size: 1.13vmin!important;
    }
    
}


/*================= MEDIA QUERY (PC) =================*/

@media screen and (max-width: 1024px){

	html{
		font-size: 1.23vmin!important;
    }


    /*------------------ MENU ------------------*/
    #MENU-principal{
        align-items: center;
        height: 90%;
    }

    .MENU-principal__icono-menu{
        left: 50%;
    }

    .MENU-principal__CONT-opciones-menu{
        border: none;
        height: 100%;
    }

    .opcion-inicio, .opcion-about, .opcion-works, .opcion-contact{
        margin: 40px 0;
    }

    .opcion-inicio {
        margin-top: 0;
    }

    .MENU-principal__icono-scroll, .MENU-principal__icono-language{
        left: 50%;
    }

    .slidesjs-navigation{
        display: none;
    }


    /*------------------ CONTENIDO ADICIONAL ------------------*/
    .modo-cine{
        display: none;
    }


    /*------------------ ABOUT ------------------*/

    section.ARTI-about__CONT-presentacion{
        display: none;
    }

    section.ARTI-about__CONT-caracteristicas{
        width: 100%;
        margin-top: 4.6rem;
        margin-bottom: 4.6rem;
        height: 70vh;
    }

    .ARTI-about__caracteristicas{
        height: 100%;
    }

    .ARTI-about__yo-hobbies{
        margin-bottom: 26px;
    }


    /*------------------ WORKS ------------------*/
    #ARTI-works{
        overflow-y: hidden;
        height: 75vh;
        display: block;
    }

    #ARTI-works > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper > .simplebar-content{
        display: block;
    }

    section.ARTI-works__CONT-galeria-proyectos{
        margin: 0;
        height: 75vh;
    }

    .ARTI-works--open .ARTI-works__galeria-proyectos{
        height: 75vh;
    }

    .ARTI-works__CONT-proyecto-imagen{
        grid-template-columns: repeat(3, minmax(1.6rem, 1fr));
    }

    .ARTI-works__galeria-proyectos{
        height: initial;
    }

    .CONT-galeria-proyectos--open .ARTI-works__galeria-proyectos{
        height: 100%!important;
        max-width: 51.2rem;
    }

    section.ARTI-works__CONT-proyecto-detalles{
        position: initial;
    }

    .ARTI-works__proyecto-detalles{
        height: auto;
    }

    .simplebar-content{
        height: 100%;
    }

    #ARTI-works .CONT-galeria-proyectos--open{
        width: 100%;
    }

    #ARTI-works.ARTI-works--open > .simplebar-wrapper > .simplebar-mask > .simplebar-offset > .simplebar-content-wrapper{
        overflow: scroll!important;
    }

    .CONT-proyecto-imagenes .proyecto-imagenes{
        pointer-events: none;
    }
    #ARTI-works.ARTI-works--open .CONT-proyecto-imagenes .proyecto-imagenes{
        pointer-events: initial;
    }

    .CONT-galeria-proyectos--open .simplebar-content-wrapper{
        overflow: initial!important;
    }

    .MENU-galeria__proyectos-opcion:hover{
        opacity: 1;
    }


    /*------------------ CONTACT ------------------*/
    section.ARTI-contact__CONT-presentacion{
        display: none;
    }

    section.ARTI-contact__CONT-formulario,
    section.ARTI-works__CONT-proyecto-detalles{
        width: 100%;
    }


    /*------------------ SCROLLS ------------------*/
    .simplebar-vertical{
        display: none;
    }

}


/*================= MEDIA QUERY (TABLET) =================*/
@media screen and (max-width: 768px){

	html{
		font-size: 1.23vmax!important;
    }

    /* MENU */

    .opcion-inicio,
    .opcion-about,
    .opcion-works,
    .opcion-contact{
        margin: 30px 0;
    }

    .opcion-inicio {
        margin-top: 0;
    }


    /*------------------ CONTENEDOR PAGINAS ------------------*/

    /* #CONTENEDOR-PAGINAS{
        height: initial;
    } */


    /*------------------ ABOUT ------------------*/
    
    .ARTI-works__CONT-proyecto-imagen{
        grid-template-columns: repeat(3, minmax(1.6rem, 1fr));
    }
    
}


/*================= MEDIA QUERY (MOBILE) =================*/
@media screen and (max-width: 425px){

    /*------------------ ABOUT ------------------*/

    section.ARTI-about__CONT-caracteristicas{
        width: 100%;
        margin-top: 4.6rem;
        margin-bottom: 4.6rem;
        height: 75vh;
    }
    .ARTI-about__CONT-datos-caracteristicas{
        width: 96%;
    }
    

    /*------------------ WORKS ------------------*/

    section.ARTI-works__CONT-galeria-proyectos{
        /*padding-bottom: 4.2rem!important;*/
        /* height: 75vh; */
    }

    .ARTI-works__MENU-galeria-proyectos{
        padding-top: 1rem;
        padding-bottom: 4.2rem;
    }

    .CONT-galeria-proyectos--open .ARTI-works__MENU-galeria-proyectos{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .ARTI-works__CONT-proyecto-imagen{
        grid-template-columns: repeat(2, minmax(1.6rem, 1fr));
    }

    .ARTI-works__galeria-proyectos{
        width: 96%;
    }
    .ARTI-works__CONT-datos-proyecto{
        width: 96%;
    }

}



@media screen and (max-height: 400px){
    html{
        font-size: 9px!important;
    }

    body{
        overflow: hidden;
    }

    .ARTI-contact__formulario{
        align-items: flex-end;
    }

    #MENU-principal{
        opacity: 0;
    }
}


@media (max-height: 400px) and (max-width: 500px){
    
	/* #CONTENEDOR-GENERAL{
		display: none;
	} */


	/*------------------ ROTATE ------------------*/

	/* div.contenedor-movil_rotate{
		display: flex;
	} */
}

/*@media (max-width: 600px) and (orientation: landscape){
	#CONTENEDOR-GENERAL{
		display: none;
	}

	div.contenedor-movil_rotate{
		display: flex;
	}
}*/

/* @media (max-height: 500px) and (max-width: 730px) and (orientation: landscape){

	#CONTENEDOR-GENERAL{
		display: none;
	}

	div.contenedor-movil_rotate{
		display: flex;
	}
}

@media (max-height: 450px) and (max-width: 1024px) and (orientation: landscape){

	#CONTENEDOR-GENERAL{
		display: none;
	}

	div.contenedor-movil_rotate{
		display: flex;
	}
} */

.reload-box{
    height: initial!important;
}