:root{
    --bgc-background: #FF0198;
    --ie-bgc-background : var(--bgc-background);
    --bgc-background-img: #FF0198;
    --bgc-border: #fef1018c;
    --bgc-text-o: #fef1018c;
    --bgc-text: #FEF102;
}

.ARTI-about__yo-foto .yo-foto{
	mix-blend-mode: multiply!important;
}