:root{
	--bgc-background: #FECDD3;
    --ie-bgc-background : var(--bgc-background);
    --bgc-background-img: #FECDD3;
    --bgc-border: #4224F48c;
    --bgc-text-o: #4224F48c;
    --bgc-text: #4224F4;
}