:root{
  --bgc-background: #202020;
  --ie-bgc-background: var(--bgc-background);
  --bgc-background-img: #2e2e2e;
  --bgc-border: #333333;
  --bgc-text-o: #989898;
  --bgc-text: #f5f5f5;
}

.ARTI-about__yo-foto .yo-foto{
	mix-blend-mode: initial!important;
}

.ARTI-about__yo-foto-faces .faceA{
    background: var(--bgc-background);
}
