.design-mode__web {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*
 * ===================================================================
 * -- WEB ANIME ------------------------------------------------------
 * ===================================================================
 */

#web-anime {
  --bgc1: #fb4b33;
  --bgc2: #fff;

  background-color: var(--bgc1);
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.75;
}

#web-anime .web_container {
  width: 146rem;
  height: 81rem;
  padding: 2rem;
  border-radius: 5rem;
  background-color: var(--bgc2);
  position: relative;
  filter: drop-shadow(-3mm 6mm 4mm rgb(0, 0, 0, 0.3));
}

#web-anime .web_main {
  width: 100%;
  height: 63rem;
  border-radius: 4rem;
  background-color: var(--bgc1);
  position: relative;
}

#web-anime .web_main::before {
  content: '';
  background-image: url('../../assets/images/webs/web_anime/circle.jpg');
  background-repeat: no-repeat;
  background-position: -1rem -56rem;
  background-size: 114rem;
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  opacity: 0.3;
  /* filter: blur(1px); */
}

#web-anime .web_logo {
  width: 10rem;
  height: 10rem;
  border-radius: 0 0 5rem 0;
  background-color: var(--bgc2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

#web-anime .web_menu {
  height: 4rem;
  border-radius: 3rem;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--bgc2);
  font-family: sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

#web-anime .web_menu__option {
  height: 4rem;
  padding: 0 3rem;
  border: 1px solid var(--bgc2);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  color: white;
}
#web-anime .web_menu__option.option--select {
  background-color: var(--bgc2);
  color: var(--bgc1);
}
#web-anime .web_menu .option--select {
  font-weight: 900;
}

#web-anime .web_submenu {
  width: 8rem;
  height: 24.2rem; /*30.2*/
  padding: 2rem 0 2rem 2rem;
  border-radius: 4rem 0 0 4rem;
  background-color: var(--bgc2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 29.4rem;
  right: 0rem;
}
#web-anime .web_submenu__option {
  width: 6rem;
  height: 6rem;
}
#web-anime .web_submenu__option span {
  display: none;
}
#web-anime .web_submenu__option_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#web-anime .web_submenu__option:nth-child(3) .web_submenu__option_img {
  background-image: url('../../assets/images/webs/web_anime/ico-in.png');
}
#web-anime .web_submenu__option:nth-child(4) .web_submenu__option_img {
  background-image: url('../../assets/images/webs/web_anime/ico-cv.png');
}
#web-anime .web_submenu__option:nth-child(5) .web_submenu__option_img {
  background-image: url('../../assets/images/webs/web_anime/ico-gi.png');
}

#web-anime .web_me {
  width: 30.8rem;
  height: 55.6rem;
  border-radius: 0 4rem 0 5rem;
  background-color: var(--bgc2);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Vina Sans', sans-serif;
}

#web-anime .web_name,
#web-anime .web_ocupation {
  width: 1px;
  height: 1px;
  display: flex;
  justify-content: center;
  transform-origin: center;
  text-wrap: nowrap;
}

#web-anime .web_name {
  color: var(--bgc1);
  font-size: 22rem;
  transform: rotate(-90deg) translate(0, -2rem);
}
#web-anime .web_ocupation {
  color: black;
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
  transform: rotate(-90deg) translate(0, 22rem);
}

#web-anime .web_section {
  width: 45.6rem;
  position: absolute;
  right: 10rem;
  bottom: 4rem;
  font-family: sans-serif;
  color: white;
}
#web-anime .parenthesis {
  color: white;
  opacity: 0.6;
}
#web-anime .web_header {
  margin-bottom: 2rem;
  font-family: 'Vina Sans', sans-serif;
  font-size: 7rem;
  color: white;
}
#web-anime .web_text {
  position: relative;
}
#web-anime .web_text::before,
#web-anime .web_text::after {
  content: '>';
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--bgc2);
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: -8rem;
  color: var(--bgc2);
  font-family: monospace;
  font-size: 4rem;
  text-align: center;
  line-height: 5.4rem;
}

#web-anime .web_text::before {
  transform: rotate(-90deg);
}
#web-anime .web_text::after {
  top: 8rem;
  transform: rotate(90deg);
}
#web-anime .web_text p {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 400;
}

#web-anime .web_others {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

#web-anime .web_other {
  width: 22rem;
  height: 12rem;
  border-radius: 3rem;
  /* background-color: var(--bgc1); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
#web-anime .web_other:nth-child(1) {
  background-image: url('../../assets/images/webs/web_anime/p-1.png');
}
#web-anime .web_other:nth-child(2) {
  background-image: url('../../assets/images/webs/web_anime/p-2.png');
}
#web-anime .web_other:nth-child(3) {
  background-image: url('../../assets/images/webs/web_anime/p-3.png');
}

#web-anime .web_arrow {
  width: 6rem;
  height: 12rem;
  border-radius: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: monospace;
  font-size: 4rem;
}

#web-anime .web_arrow::before {
  content: '>';
  position: absolute;
  line-height: 4rem;
}

#web-anime .web_image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#web-anime .web_image img {
  height: 88rem;
  position: absolute;
  left: 27rem;
  bottom: 0;
}

#web-anime .web_corner {
  --w: 4.1rem;
  --t: initial;
  --l: initial;
  --r: initial;
  --b: initial;
  --tr: 0deg;
  width: var(--w);
  height: var(--w);
  background-color: var(--bgc2);
  position: absolute;
  top: var(--t);
  left: var(--l);
  right: var(--r);
  bottom: var(--b);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg"><path d="M0.999998 41L-1.79217e-06 41L0 -1.79217e-06L41 0L41 1C18.9126 0.999293 0.999999 19 0.999998 41Z" fill="black"/></svg>');
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg"><path d="M0.999998 41L-1.79217e-06 41L0 -1.79217e-06L41 0L41 1C18.9126 0.999293 0.999999 19 0.999998 41Z" fill="black"/></svg>');
  transform: rotate(var(--tr));
}

/*
 * ===================================================================
 * -- WEB AC ---------------------------------------------------------
 * ===================================================================
 */

#web-ac {
  --bgc1: #8a9af1;
  --bgc2: #c7d1f4;
  --bgc3: #f5f7df;
  --bgc4: #f2f3fd;
  --bgc5: #6280d8;
  --c1: #bbb5a3;
  --c2: #5f68c7;
  --c3: #414861;
  --c4: #bcdaff;
  --c5: #8b7c67;
  --bgi-bg: url('../../assets/images/webs/web_ac/bg.jpg');
  --bgi-me: url('../../assets/images/webs/web_ac/me.png');
  --bgi-bg_me: url('../../assets/images/webs/web_ac/bg_me.png');
  --bgi-cursor: url('../../assets/images/webs/web_ac/cursor.png');
  --bgi-ico_in: url('../../assets/images/webs/web_ac/ico_in.png');
  --bgi-ico_cv: url('../../assets/images/webs/web_ac/ico_cv.png');
  --bgi-ico_cp: url('../../assets/images/webs/web_ac/ico_cp.png');

  --fz-h1: 3.7rem;
  --fz-h2: 3.2rem;
  --fz-h3: 2.2rem;
  --fz-h4: 2rem;
  --fz-h5: 1.8rem;
  --fz-text: 1.6rem;
  --fz-text-s: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  font-size: var(--fz-h5);
  cursor: var(--bgi-cursor), auto;
  zoom: 1.1;
}

#web-ac::before {
  content: '';
  background-color: var(--bgc2);
  background-image: var(--bgi-bg);
  background-position: 0 0;
  background-size: 14rem;
  position: absolute;
  inset: 0;
}

.design-mode--on #web-ac::before {
  animation: bg-move 8s linear infinite;
}
@keyframes bg-move {
  to {
    background-position: -14rem -14rem;
  }
}

#web-ac .web_menu {
  width: 100%;
  height: 17.4rem;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 9;
}

#web-ac .web_menu--top {
  padding-bottom: 2rem;
  align-items: end;
  top: -5rem;
}

#web-ac .web_menu--top::before,
#web-ac .web_menu--bot::before {
  --sizeh-black_bar: 20rem;
  content: '';
  width: calc(100% + (var(--sizeh-black_bar) * 4));
  height: var(--sizeh-black_bar);
  border-radius: 100%;
  background-color: var(--bgc1);
  position: absolute;
  left: 50%;
  z-index: -1;
  translate: -50% 0;
  scale: 1.5 2;
}

#web-ac .web_menu--top::before {
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
}

#web-ac .web_menu--bot {
  padding-top: 3rem;
  align-items: start;
  bottom: -5rem;
}

#web-ac .web_menu--bot::before {
  position: absolute;
  top: 0;
  transform-origin: top;
}

#web-ac .web_menu__options {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#web-ac .web_submenu .web_submenu__options {
  width: 90%;
  max-width: 126.8rem;
  padding: 0 5rem;
  justify-content: end;
  top: 2rem;
}

#web-ac .web_menu__option,
#web-ac .web_submenu__option {
  padding: 0.8rem 1.8rem 0.6rem 1.8rem;
  border-radius: 360px;
  background-color: var(--bgc3);
  display: inline-block;
  color: var(--c1);
  font-weight: 700;
}

#web-ac .web_submenu .web_submenu__option {
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c5);
}

#web-ac .web_submenu .web_submenu__option:nth-child(1) {
  background-image: var(--bgi-ico_in);
}

#web-ac .web_submenu .web_submenu__option:nth-child(2) {
  background-image: var(--bgi-ico_cv);
}

#web-ac .web_submenu .web_submenu__option:nth-child(3) {
  background-image: var(--bgi-ico_cp);
}

#web-ac .web_submenu .web_submenu__option span {
  display: none;
}

#web-ac .web_menu__option.option--select {
  color: var(--c2);
}

#web-ac .web_container {
  width: 90%;
  max-width: 126.8rem;
  height: 64.9rem;
  padding: 6rem;
  padding-right: 7rem;
  display: grid;
  grid-template-columns: minmax(38rem, 35%) 1fr auto;
  position: relative;
  color: var(--c3);
}

#web-ac .web_left {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#web-ac .web_img {
  width: 23rem;
  height: 23rem;
  margin-bottom: 2rem;
  border-radius: 6rem;
  border: 1.4rem solid var(--bgc4);
  background-color: var(--bgc1);
  background-image: var(--bgi-bg_me);
  background-position: center;
  background-size: 113%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

#web-ac .web_img::after {
  content: '';
  background-image: var(--bgi-me);
  background-position: center;
  background-size: 103%;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
}

#web-ac .web_name {
  margin-bottom: 1rem;
  font-size: var(--fz-h2);
  font-weight: 700;
}

#web-ac .web_job {
  padding: 0.3rem 1.6rem;
  border-radius: 360px;
  background-color: var(--bgc4);
  font-size: var(--fz-h5);
}

#web-ac .web_right {
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
  overflow: hidden;
  position: relative;
}

#web-ac .web_header {
  padding: 0.4rem 1.6rem;
  border-radius: 360px;
  background-color: var(--bgc5);
  display: inline-block;
  position: absolute;
  z-index: 1;
  font-size: var(--fz-h4);
  color: var(--c4);
  transform: translate(2rem, -1rem) rotate(-4deg);
}

#web-ac .web_text {
  width: 100%;
  height: 100%;
  padding: 4rem 4rem;
  border-radius: 6rem;
  background-color: white;
  overflow: hidden;
  position: relative;
}

#web-ac .web_text::before {
  content: '';
  width: 100%;
  height: 4rem;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#web-ac .web_text * {
  color: var(--c3) !important;
  font-size: var(--fz-h4);
  font-weight: 500;
}

#web-ac .web_text p {
  margin-bottom: 2rem;
}

#web-ac .web_text span {
  font-weight: normal;
}

#web-ac .web_scroll {
  width: 1.4rem;
  height: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  position: relative;
}

#web-ac .web_scroll_bar {
  width: 100%;
  height: 30%;
  border-radius: 360px;
  background-color: var(--bgc5);
  position: absolute;
}

#web-ac .web_scroll_line {
  width: 50%;
  height: 100%;
  border-radius: 360px;
  background-color: var(--bgc4);
}

#web-ac .web_scroll_end {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 360px;
  background-color: var(--bgc4);
  position: absolute;
  bottom: 4rem;
}

/*
 * ===================================================================
 * -- WEB FUTURE -----------------------------------------------------
 * ===================================================================
 */

#web-future {
  padding: 10rem;
  background-color: #747e75;
  background-image: url('../../assets/images/webs/web_future/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.9;
}

#web-future::before,
#web-future::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
}

#web-future::before {
  background-color: rgba(0, 0, 0, 0.5);
}

#web-future::after {
  background-color: rgba(50, 151, 46, 0.1);
}

#web-future * {
  font-family: monospace;
  font-size: 1.8rem;
  color: white;
  text-transform: lowercase;
}

#web-future .web_container {
  background-color: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.25),
    inset 0 0 64px rgba(255, 255, 255, 0.1);
  opacity: 0.9;
}

#web-future .web_nav {
  padding: 5rem 6rem;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}

#web-future .web_logo {
  font-weight: 700;
  text-transform: uppercase;
}

#web-future .web_menu {
  display: flex;
  gap: 3rem;
}

#web-future .web_menu .option--select {
  font-weight: 700;
}

#web-future .web_body {
  padding: 0 15rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 5rem;
}

#web-future .web_content {
  display: grid;
  grid-template-columns: repeat(3, minmax(34.8rem, 1fr));
  grid-gap: 8rem;
}

#web-future .web_box_ocupation {
  opacity: 0.7;
  font-style: italic;
}

#web-future .web_name {
  opacity: 0.9;
  text-transform: uppercase;
}

#web-future .web_desription {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  opacity: 0.7;
}

#web-future .web_desription p {
  line-height: 2.2rem;
  font-style: italic;
}

#web-future .web_title {
  margin-bottom: 2.3rem;
  opacity: 0.9;
  text-transform: uppercase;
}

#web-future .web_data {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#web-future .web_info__name {
  font-weight: 700;
  opacity: 0.8;
}

#web-future .web_info__description {
  opacity: 0.7;
  font-style: italic;
}

#web-future .web_data.web_box_hobbies_cont {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem 1.6rem;
  opacity: 0.7;
  font-style: italic;
}

#web-future .web_footer {
  padding: 5rem 6rem;
  display: flex;
  justify-content: end;
}

#web-future .web_links {
  display: flex;
  gap: 3rem;
  opacity: 0.7;
}

.web-background {
  --aurora-clr-1: #4c5548;
  --aurora-clr-2: #2c3e2a;
  --aurora-clr-3: #242816;
  --aurora-clr-4: #131c0e;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
  opacity: 0.5;
}

.web-aurora {
  --blur: 8rem;
  width: 50vw;
  height: 50vw;
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  background-color: var(--aurora-clr-1);
  overflow: hidden;
  position: absolute;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}
.web-aurora:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 12s ease-in-out infinite,
    aurora-1 24s ease-in-out infinite alternate;
}
.web-aurora:nth-of-type(2) {
  background-color: var(--aurora-clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 12s ease-in-out infinite,
    aurora-2 24s ease-in-out infinite alternate;
}
.web-aurora:nth-of-type(3) {
  background-color: var(--aurora-clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 12s ease-in-out infinite,
    aurora-3 16s ease-in-out infinite alternate;
}
.web-aurora:nth-of-type(4) {
  background-color: var(--aurora-clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 32s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 100%;
    right: 75%;
  }
  75% {
    top: 100%;
    right: 25%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }
  60% {
    top: 100%;
    left: 75%;
  }
  85% {
    top: 100%;
    left: 25%;
  }
  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }
  40% {
    bottom: 100%;
    left: 75%;
  }
  65% {
    bottom: 40%;
    left: 50%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }
  50% {
    bottom: 0%;
    right: 40%;
  }
  90% {
    bottom: 50%;
    right: 25%;
  }
  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }
  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }
  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }
  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/*
 * ===================================================================
 * -- WEB DUO --------------------------------------------------------
 * ===================================================================
 */

#web-duo {
  --bgc1: #1899d6;
  --bgc2: #1cb0f6;
  --bgc3: #84d8ff;
  --bgc4: #ddf4ff;
  --bgc5: #ffffff;
  --c1: #3c3c3c;
  --c2: #777777;
  --c3: #afafaf;
  --c4: #e5e5e5;
  --bgi-me: url('../../assets/images/webs/web_duo/me.png');
  --bgi-home: url('../../assets/images/webs/web_duo/home.png');
  --bgi-projects: url('../../assets/images/webs/web_duo/projects.png');
  --bgi-contact: url('../../assets/images/webs/web_duo/contact.png');
  /* --bgi-ico_in: url('../../assets/images/webs/web_duo/ico_in.png');
  --bgi-ico_cv: url('../../assets/images/webs/web_duo/ico_cv.png');
  --bgi-ico_cp: url('../../assets/images/webs/web_duo/ico_cp.png'); */

  --fz-h1: 3.7rem;
  --fz-h2: 3.2rem;
  --fz-h3: 2.2rem;
  --fz-h4: 2rem;
  --fz-h5: 1.8rem;
  --fz-text: 1.6rem;
  --fz-text-s: 1.4rem;

  background-color: var(--bgc5);
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-family: 'Varela Round', sans-serif;
  font-size: var(--fz-h5);
}

#web-duo .web_menu {
  width: 32rem;
  height: 100%;
  padding-top: 10rem;
  border-right: 0.2rem solid var(--c4);
}
#web-duo .web_menu__options {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
#web-duo .web_menu__option {
  width: 100%;
  padding: 1rem 1.4rem;
  border: 0.2rem solid var(--bgc5);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  text-transform: uppercase;
  color: var(--c2);
  font-weight: 700;
}
#web-duo .web_menu__option.option--select {
  border: 0.2rem solid var(--bgc3);
  background-color: var(--bgc4);
  color: var(--bgc2);
}
#web-duo .web_menu__option_img {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}
#web-duo .web_menu__option:nth-child(1) .web_menu__option_img,
#web-duo .web_menu__option:nth-child(5) .web_menu__option_img {
  background-image: var(--bgi-home);
}
#web-duo .web_menu__option:nth-child(2) .web_menu__option_img,
#web-duo .web_menu__option:nth-child(6) .web_menu__option_img {
  border-radius: 360px;
  background-image: var(--bgi-me);
  background-color: var(--c2);
}
#web-duo .web_menu__option:nth-child(3) .web_menu__option_img,
#web-duo .web_menu__option:nth-child(7) .web_menu__option_img {
  background-image: var(--bgi-projects);
}
#web-duo .web_menu__option:nth-child(4) .web_menu__option_img,
#web-duo .web_menu__option:nth-child(8) .web_menu__option_img {
  background-image: var(--bgi-contact);
}

#web-duo .web_container {
  max-width: 58rem;
  margin: 0 auto;
}
#web-duo .web_section {
  padding-top: 6rem;
}
#web-duo .web_section.web_section--grid {
  padding-top: 10rem;
  padding-bottom: 5rem;
  border-bottom: 0.2rem solid var(--c4);
  display: grid;
  grid-template-columns: 1fr auto;
}
#web-duo .web_name {
  font-size: var(--fz-h1);
  font-weight: 600;
  color: var(--c1);
}
#web-duo .web_job {
  font-size: var(--fz-h5);
  font-weight: 500;
  color: var(--c3);
}
#web-duo .web_submenu__options {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#web-duo .web_submenu__option {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  color: var(--c2);
}
#web-duo .web_submenu__option span {
  text-transform: capitalize;
}
#web-duo .web_submenu__option:nth-child(2) span {
  text-transform: uppercase;
}
#web-duo .web_submenu__option_img {
  width: 2rem;
  height: 2rem;
  border-radius: 360px;
  background-color: var(--c4);
}
#web-duo .web_submenu__option_img:nth-child(1) {
  background-image: var(--bgi-ico_in);
}
#web-duo .web_submenu__option_img:nth-child(2) {
  background-image: var(--bgi-ico_cv);
}
#web-duo .web_submenu__option_img:nth-child(3) {
  background-image: var(--bgi-ico_cp);
}
#web-duo .web_img {
  width: 16rem;
  height: 16rem;
  border-radius: 360px;
  background-color: var(--c2);
  background-image: var(--bgi-me);
  background-repeat: no-repeat;
  background-size: cover;
}

#web-duo .web_header {
  width: 100%;
  margin-bottom: 2rem;
  font-size: var(--fz-h2);
  font-weight: 700;
  color: var(--c1);
}
#web-duo .web_text p {
  width: 100%;
  margin-bottom: 1rem;
  font-size: var(--fz-h5);
  color: var(--c2) !important;
}
#web-duo .texto--parentesis {
  color: var(--c3) !important;
}

/*
 * ===================================================================
 * -- WEB TEXT -------------------------------------------------------
 * ===================================================================
 */

#web-text {
  margin: 0;
  background: #000;
}

#web-text p {
  font-family: serif;
}

#web-text div {
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  line-height: 0;
}

#web-text img {
  width: 100%;
  height: 100dvh;
  object-fit: contain;
  object-position: center;
}

#web-text p {
  width: 120%;
  height: 120dvh;
  margin-top: 0;
  background: #000;
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 2.2rem;
  text-align: justify;
  line-height: 1;
  mix-blend-mode: multiply;
}

/*
 * ===================================================================
 * -- WEB HYPERSPACE -------------------------------------------------
 * ===================================================================
 */

#web-hyperspace {
  overflow: hidden;
  background: #000;
  text-align: center;
}

#web-hyperspace:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#web-hyperspace .wall {
  background: url('../../assets/images/webs/web_hyperspace/stars.jpg');
  background-size: cover;
}

#web-hyperspace .scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

#web-hyperspace .wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

#web-hyperspace .wrap:nth-child(2) {
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

#web-hyperspace .wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

#web-hyperspace .wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

#web-hyperspace .wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

#web-hyperspace .wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

#web-hyperspace .wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

#web-hyperspace .wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

#web-hyperspace .wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
  0% {
    transform: translateZ(-500px) rotate(0deg);
  }
  100% {
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
.scene { 
  animation: 🤫 300s infinite linear;
}

@keyframes 🤫 {
  0%{
    filter: hue-rotate(0)
  }
  50% {
    filter: hue-rotate(180deg) saturation(5);
    transform: scaleX(4000);
    perspective: 50px;
  }
 
  100%{
    filter: hue-rotate(360deg);
  }
} 
*/

/*
 * ===================================================================
 * -- WEB HOMER ------------------------------------------------------
 * ===================================================================
 */

#web-homer {
  background-color: #78bbcb;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#web-homer img {
  width: 100%;
  height: auto;
}

/*
 * ===================================================================
 * -- WEB NEWSPAPER --------------------------------------------------
 * ===================================================================
 */

#web-newspaper {
  --bgc1: #d8d8d8;
  --c1: #2f2f2f;
  --fz1: 10rem;
  --fz2: 1.2rem;

  background-color: var(--bgc1);
  display: flex;
  justify-content: center;
  position: relative;
  zoom: 1.2;
}
#web-newspaper p {
  color: var(--c1);
  margin-bottom: 1.4rem;
}
#web-newspaper .web_newspaper {
  width: 95rem;
  margin-top: 4rem;
  padding: 2rem 4rem;
  background: #e8e6d9;
  background: linear-gradient(
    to bottom right,
    rgba(254, 254, 254, 1),
    rgba(232, 230, 217, 1)
  );
  box-shadow: 0.2rem 0.2rem 0.2rem 0.3rem #e8e6d9;
  text-align: center;
}
#web-newspaper .web_title {
  border-bottom: 1px solid var(--c1);
  color: var(--c1);
  font-family: 'Cormorant Unicase', serif;
  font-size: var(--fz1);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
}
#web-newspaper .web_title b {
  font-family: 'UnifrakturMaguntia', cursive;
}
#web-newspaper .web_subtitle {
  margin-bottom: 1rme;
  padding: 0.7rem 0;
  border-bottom: 1px solid var(--c1);
  color: #444;
  font-family: georgia;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}
#web-newspaper .web_date {
  padding: 0.5rem;
  font-family: times;
  font-size: 1rem;
  text-transform: uppercase;
}
#web-newspaper .web_news {
  padding: 0;
  text-align: justify;
}
#web-newspaper .web_main {
  font-size: 1.4rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  line-height: 2rem;
}
#web-newspaper .web_news img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.4rem;
  object-fit: contain;
}
#web-newspaper .web_news h1 {
  padding: 3rem 0.5rem 1rem 0.5rem;
  display: block;
  font-family: times;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 80%;
  text-transform: uppercase;
  color: black;
}
#web-newspaper .web_subtext {
  box-sizing: border-box;
  padding: 1rem 2rem 2rem 2rem;
  font-family: times;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: normal;
  text-align: center;
  line-height: 100%;
}
#web-newspaper .web_subtext:before,
#web-newspaper .web_subtext:after {
  content: '';
  width: 10rem;
  width: 100%;
  height: 0.7rem;
  margin: 0 auto;
  display: block;
}
#web-newspaper .web_subtext:before {
  border-top: 1px solid var(--c1);
}
#web-newspaper .web_subtext:after {
  border-bottom: 1px solid var(--c1);
}

#web-newspaper .web_news h2 {
  box-sizing: border-box;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: italic;
  line-height: 3rem;
  font-family: times;
  color: black;
}

#web-newspaper .web_side {
  padding: 0 0% 0 0%;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;
}

#web-newspaper .web_menu {
  padding: 1.4rem 3.2rem;
  border-radius: 1rem;
  background-color: #151515;
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;
}

#web-newspaper .web_menu__option.option--select {
  font-weight: 700;
}

/*
 * ===================================================================
 * -- WEB 404 --------------------------------------------------------
 * ===================================================================
 */

#web-404 {
  height: 100vh;
  margin: 0;
  background-color: #000;
  background-image: url('../../assets/images/webs/web_404/404_bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-404 .web_bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mask-image: url('../../assets/images/webs/web_404/404_mask.png');
  mask-size: cover;
  mask-position: center;
  mix-blend-mode: color-burn;
  filter: contrast(0.6) grayscale(0.4);
}

#web-404 span {
  font-family: sans-serif;
  font-size: 36rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #77e4ff;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007rem);
  animation: shake 2.5s normal infinite;
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }
  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }
  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }
  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }
  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

/*
 * ===================================================================
 * -- WEB PC ---------------------------------------------------------
 * ===================================================================
 */

#web-pc {
  --bgc1: #161616;
  --c1: #2f2f2f;
  --fz1: 10rem;
  --fz2: 1.2rem;
  --gap: 3rem;

  background-color: var(--bgc1);
}

#web-pc .web_main {
  width: 100%;
  height: 100%;
  padding: var(--gap);
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--gap);
}

#web-pc .web_screen {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 14rem 1fr 28rem;
}

#web-pc .web_folders {
  height: 63rem;
  padding: 4rem 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
}

#web-pc .web_menu__option,
#web-pc .web_tag__item {
  width: 14rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-family: monospace;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

#web-pc .web_menu__option_img,
#web-pc .web_tag__img {
  width: 4.5rem;
  height: 4.5rem;
  background-image: url('../../assets/images/webs/web_pc/folder.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#web-pc .web_background {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/webs/web_pc/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.6;
}

#web-pc .web_bar {
  width: 100%;
  height: 6rem;
  padding-left: 1rem;
  padding-right: 3rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  font-size: 1.6rem;
  color: #fff;
}

#web-pc img {
  height: 100%;
  object-fit: contain;
}

#web-pc .web_menu {
  height: 100%;
  display: flex;
  gap: 1rem;
}

#web-pc .web_menu .web_op {
  padding: 1.4rem;
  border-bottom: 0.3rem solid black;
}

#web-pc .web_menu .web_op_sel {
  border-bottom: 0.3rem solid #9f1b2b;
}

#web-pc .web_window {
  background: linear-gradient(0deg, #303030, #202020);
  position: absolute;
  box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.3);
}

#web-pc .web_window_bar {
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#web-pc .web_window_bar_options {
  height: 100%;
  display: flex;
}

#web-pc .web_window_bar p {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.4rem;
}

#web-pc .web_window_content {
  width: 100%;
  height: 100%;
}

#web-pc .web_window_content p {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

/*
 * ===================================================================
 * -- WEB ROCK -------------------------------------------------------
 * ===================================================================
 */
#web-rock {
  background-image: url('../../assets/images/webs/web_rock/rock.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-rock h1 {
  color: black;
  font-family: serif;
  font-weight: 700;
  transform: translate(0, -20rem);
}

/*
 * ===================================================================
 * -- WEB NOISE -----------------------------------------------------
 * ===================================================================
 */

#web-noise {
  background-image: url('../../assets/images/webs/web_noise/noise-effect.gif');
  background-repeat: repeat;
  background-size: 250px 250px;
  background-position: center;
}

/*
 * ===================================================================
 * -- WEB MATRIX -----------------------------------------------------
 * ===================================================================
 */

#web-matrix {
  background-image: url('../../assets/images/webs/web_matrix/matrix.gif');
  background-repeat: repeat;
  background-size: 250px 250px;
  background-position: center;
}

/*
 * ===================================================================
 * -- WEB HELLO ------------------------------------------------------
 * ===================================================================
 */

#web-hello {
  background-color: #07bcd1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-hello .web_sticker {
  transform: rotate(-1.5deg);
}

/*
 * ===================================================================
 * -- WEB PATTERN ----------------------------------------------------
 * ===================================================================
 */

#web-pattern {
  background-image: url('../../assets/images/webs/web_pattern/pattern.jpg');
  background-repeat: repeat;
  background-position: center;
}

/*
 * ===================================================================
 * -- WEB GRAPHIC ----------------------------------------------------
 * ===================================================================
 */

#web-graphic {
  background-image: url('../../assets/images/webs/web_graphic/graphic.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

/* ========= WEB_3, 4, 5, 6, 7, 8 ========= */
#web-3 {
  /* --bgc1: #ff6961;
  --bgc2: #ffb480;
  --bgc3: #f8f38d;
  --bgc4: #42d6a4;
  --bgc5: #08cad1;
  --bgc6: #59adf6;
  --bgc7: #9d94ff;
  --bgc8: #c780e8;
  background-color: #f8f38d; */
  /* background: linear-gradient(#010 0%, transparent 20%); */
  /* background-size: 5px 5px; */
}
#web-1 {
  background-color: #ff6961;
}
#web-2 {
  background-color: #ffb480;
}
#web-3 {
  background-color: #f8f38d;
}
#web-4 {
  background-color: #42d6a4;
}
#web-5 {
  background-color: #08cad1;
}
#web-6 {
  background-color: #59adf6;
}
#web-7 {
  background-color: #9d94ff;
}
#web-8 {
  background-color: #c780e8;
}
